.main{
    background : url("../images/about-2.jpg") !important;
}

.container {
    display: flex;
    margin-top: 5vh;
    text-align: center;
}

.column1 {
    flex: 0.1;
    background: transparent;
    padding: 23px;
}

.column2 {
    flex: 1;   
}

.container .topic{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-left: 40%;
    margin-right: 40%;
    padding: 0 1vw 0;
    font-size: 3vw;
    text-align: center;
    background-color: rgb(203, 243, 162);
    border-radius: 5px;
}

.container .table td{
    vertical-align: bottom;
}